@import "../../node_modules/bulma/bulma.sass"

.navbar-item img
  max-height: 3.5em

body
  background-color: #eaeaea

section.main
  min-height: 80vh;
  height: 80vh;

.is-clickable
  cursor: pointer

.breadcrumb ul li:last-child a
  color: $text
