@import "../../node_modules/bulma/bulma.sass"
@import "./progressbar.sass"

.navbar-item img
  max-height: 3.5em

body
  background-color: #eaeaea

section.main
  min-height: 80vh
  height: 80vh

.box.main-panel
  height: 100%

.is-clickable
  cursor: pointer

.breadcrumb ul li:last-child a
  color: $text

.user-props
  label
    color: $grey-light
    display: inline-block
    width: 120px
  p
    padding-bottom: 5px


.pagination
  justify-content: flex-end


.not-allowed
  display: flex
  min-height: 400px
  align-items: center
  justify-content: center
  flex-direction: column

  h1
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
