.navbar-item img
  max-height: 3.5em

body
  background-color: #f3f3f3
  min-height: 100vh

section.main
  min-height: 80vh
  padding: 10px;

.box.main-panel
  height: 100%

.is-clickable
  cursor: pointer

.breadcrumb ul li:last-child a
  color: $text

.user-props
  label
    color: $grey-light
    display: inline-block
    width: 120px
  p
    padding-bottom: 5px


.pagination
  justify-content: flex-end


.not-allowed
  display: flex
  min-height: 400px
  align-items: center
  justify-content: center
  flex-direction: column

  h1
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center

.permissions, .behaviors
  table
    td
      width: 33%

.editable
  cursor: pointer

.confirm
  .title
    margin-bottom: 3rem
  .modal-content
    width: 440px

.group-view
  .control
    margin-bottom: 0.6rem


.login__form
    margin-top: 3rem
